/**======MAIN NAVIGATION BAR======*/
.header-fix{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--head-color1), var(--head-color2));
    width: 90vw;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 1;
}

.head-navs{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 2rem;
    padding: 20px 0px;
    margin: 0px;
    z-index: 1;
}

.nav-link{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--nav-hever);
    text-shadow:
        1px 0 var(--nav-border),
        -1px 0 var(--nav-border),
        0 1px var(--nav-border),
        0 -1px var(--nav-border);
    cursor: pointer;
    transition:
        color 0.6s ease-in-out,
        text-shadow 0.3s ease-in-out;
}
.nav-link:hover{
    color: var(--nav-border);
    text-shadow:
        2px 0 2px var(--nav-color),
        -2px 0 2px var(--nav-color),
        0 2px 2px var(--nav-color),
        0 -2px 2px var(--nav-color);
}

/*====== BURGER MENU======*/
.burger-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid hsla(200, 80%, 65%, 0.35);
    background-color: hsla(200, 80%, 65%, 0.25);
    right: 10px;
    top: 10px;
    padding: 3px;
    cursor: pointer;
}

.burger-patty1,
.burger-patty2,
.burger-patty3{
    width: var(--width);
    border: 3px solid hsl(200, 80%, 80%);
    margin: 6px;
    border-radius: 30%;
}

/*------ for transition ------*/
.burger-patty1{
    transform: rotate(var(--rotateA));
    transform-origin: 0% 50%;
    transition: transform 0.5s ease;
}
.burger-patty2{
    scale: var(--ofacity);
    transition: scale 0.5s ease;
}
.burger-patty3{
    transform: rotate(var(--rotateB));
    transform-origin: 0% 50%;
    transition: transform 0.5s ease;
}

.burger-cheese{
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
    padding: 5px;
    margin: 0px;
    scale: var(--showhide);
    transform-origin: 100% 0%;
    transition: scale 0.5s ease;
}

/*---------------------------*/
.burger-link{
    position: relative;
    translate: -150px 3px;
    width: 200px;
    height: 40px;
    text-align: center;
    align-content: center;
    letter-spacing: 1.2px;
    font-size: 1.4rem;
    color: hsl(200, 100%, 90%);
    background-color: hsla(200, 90%, 20%, 0.3);
    border: 1px solid hsl(200, 100%, 90%);
    list-style: none;
}

.burger-link:hover{
    color: hsl(260, 100%, 20%);
    background-color: hsla(200, 100%, 90%, 0.5) ;
    border: 1px solid hsl(260, 100%, 20%);
}

@media screen and (max-width: 850px){
    .burger-menu{
        position: fixed;
        visibility: visible;
    }

    .header-fix{
        display: none;
    }

    .nav-link{
        font-weight: 500;
        font-size: 13px;
    }
}